.big-content {
    background-color: #e7e7e7;
    padding: 5% 15%;
    text-align: center;
  }
h2 {
    font-size: 40px;font-weight: bold; color: rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;font-style: italic;font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }